/* style.css */
.container {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 10px;
}

.user {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}
