.hLogo span{
    font-size: 1.5rem;
    font-family: "Harlow Solid Italic";
}

.lgniam{
    color: red;
    text-shadow: 4px -10px 1px rgba(0, 0, 0, 0.8);
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.lghumm {
    color: rgb(255, 192, 0);
}

.shadow {
    text-shadow: 4px -10px 1px rgba(255, 255, 255, 0.8);
}