.container {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  width: 67%;
  padding: 8px;
 background: center center / 180px url(./images/1.png) no-repeat;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;

}

.diffTag {

  width: 30px;
  height: 23px;
  clip-path: polygon(0 0, 80% 0, 80% 70%, 50% 100%, 20% 70%, 20% 0);

}

.boxDifficult {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  
}

.legende {

  display: flex;
}

.legende span {
  cursor: pointer;
}



