.container {
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
  width: 67%;
  padding: 8px;
 background: white;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;

}

.diffTag {

  width: 30px;
  height: 23px;
  clip-path: polygon(0 0, 80% 0, 80% 70%, 50% 100%, 20% 70%, 20% 0);
  

}

.boxDifficult {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  
}

.legende {

  display: flex;
}

.legende span {
  cursor: pointer;
}



.searchButton {
  background-color: rgb(121, 57, 57);
  border-left: none;
  color: rgb(255, 255, 255);
  width: 60px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchButton:hover {
  background-color: black;
}

