.sidebar {
  /* width: min-content; */
  background: #fff;
  color: #0c033f;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
  height: 85vh;
}
.sidebar.dark {
  background: #1f1f1f;
  color: #fff;
}
.sidebar.collapsed {
  width: 80px;
}
.sidebar-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.8rem;
  border-radius: 8px;
  cursor: pointer;
}
.sidebar-item.active {
  background-color: #110264;
  color: white;
}
.sidebar-item .icon {
  font-size: 1.2rem;
}
.profile-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-card .avatar {
  width: 40px;
  border-radius: 50%;
}
